# Set line endings
* text=auto eol=lf

# Only include the addons folder when downloading from the Asset Library.
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
/addons/tiny_treats_bubbly_bathroom_set/** export-ignore
/addons/tiny_treats_bubbly_bathroom_set/Assets !export-ignore
/addons/tiny_treats_bubbly_bathroom_set/Assets/** !export-ignore
/addons/tiny_treats_bubbly_bathroom_set/Assets/fbx export-ignore
/addons/tiny_treats_bubbly_bathroom_set/Assets/fbx(unity) export-ignore